@CHARSET "UTF-8";

/**
 * Adamantine CSS: form auto-encryption
 * 
 * @copyright 2015 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

form.autocrypt.keyPending div.form_buttons input,
form.autocrypt.librariesPending div.form_buttons input,
form.autocrypt.encrypting div.form_buttons input,
form.autocrypt.submitting div.form_buttons input,
form.autocrypt.redirecting div.form_buttons input {
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

form.autocrypt.keyPending div.form_buttons:after,
form.autocrypt.librariesPending div.form_buttons:after,
form.autocrypt.encrypting div.form_buttons:after,
form.autocrypt.submitting div.form_buttons:after,
form.autocrypt.redirecting div.form_buttons:after {
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
	background-image: url("./icons/pleasewait.gif");
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 20px;
}

form.autocrypt.librariesPending div.form_buttons:after {
	content: "Please wait. Loading encryption libraries...";
}

form.autocrypt.keyPending div.form_buttons:after {
	content: "Please wait. Loading encryption keys...";
}

form.autocrypt.encrypting div.form_buttons:after {
	content: "Please wait. Encrypting form data...";
}

form.autocrypt.submitting div.form_buttons:after {
	content: "Please wait. Submitting encrypted form data...";
}

form.autocrypt.redirecting div.form_buttons:after {
	content: "Please wait. Processing response...";
}
