@CHARSET "UTF-8";

/**
 * Adamantine CSS: table autoscroll
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

div.autoscroll {
	overflow: auto;
	max-height: 300px;
	margin-bottom: 1em;
}

div.autoscroll > table.autoscroll {
	margin: 0;
}

table.nobottomborder {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

table.notopborder {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
