@CHARSET "UTF-8";

/**
 * Adamantine CSS: icons
 *
 * The CSS itself is part of Adamantine, and licensed under MIT and LGPL licenses accordingly.
 *
 * Most icons are derived from the FamFamFam Silk icon set by Mark James, or the Silk Companion 1 icon set by Damien Guard.
 * Both are licensed under the Creative Commons 3.0 Attribution license.
 * Silk: http://www.famfamfam.com/lab/icons/silk/
 * Silk Companion 1: http://damieng.com/creative/icons/silk-companion-1-icons
 * 
 * @copyright CSS 2013 Pete Morris; Silk icon set Mark James; Silk Companion 1 set Damien Guard
 * @license MIT
 * @license LGPL
 * @see http://www.famfamfam.com/lab/icons/silk/
 * @see http://damieng.com/creative/icons/silk-companion-1-icons
 * @author Pete Morris
 */

span.icon_pleasewait, a.icon_pleasewait {
	background-image: none;
	position: relative;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

span.icon_pleasewait:before, a.icon_pleasewait:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url("./icons/pleasewait.svg") !important;
    animation-name: rotate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

a > img { border: 0 !important; }

a.icon_view,
a.icon_go {	background-image: url("./icons/bullet_go.svg");	}

a.icon_revert {	background-image: url("./icons/arrow_undo.svg");	}

a.icon_expand {	background-image: url("./icons/magnifier_zoom_in.svg");	}
a.icon_collapse {	background-image: url("./icons/magnifier_zoom_out.svg");	}

a.icon_add {	background-image: url("./icons/add.svg");	}
a.icon_delete {	background-image: url("./icons/delete.svg");	}
a.icon_confirm {	background-image: url("./icons/accept.svg");	}

a.icon_edit {	background-image: url("./icons/pencil.svg");	}

a.icon_time {	background-image: url("./icons/clock.svg");	}

a.icon_note {	background-image: url("./icons/note.svg");	}

a.icon_install {	background-image: url("./icons/brick_add.svg");	}
a.icon_uninstall {	background-image: url("./icons/brick_delete.svg");	}

a.icon_area {	background-image: url("./icons/brick_go.svg");	}
a.icon_views {	background-image: url("./icons/brick.svg");	}

a.icon_user {	background-image: url("./icons/user.svg");	}
a.icon_root {	background-image: url("./icons/user_red.svg");	}
a.icon_guest {	background-image: url("./icons/user_green.svg");	}

a.icon_password {	background-image: url("./icons/textfield_key.svg");	}
a.icon_reset {	background-image: url("./icons/lock_break.svg");	}

a.icon_access,
a.icon_register {	background-image: url("./icons/key.svg");	}

a.icon_disable {	background-image: url("./icons/cross.svg");	}
a.icon_enable {	background-image: url("./icons/tick.svg");	}

a.icon_reject {	background-image: url("./icons/cross.svg");	}
a.icon_accept {	background-image: url("./icons/tick.svg");	}

a.icon_group {	background-image: url("./icons/group.svg");	}

a.icon_join {	background-image: url("./icons/group_add.svg");	}
a.icon_leave {	background-image: url("./icons/group_delete.svg");	}

a.icon_email {	background-image: url("./icons/email.svg");	}

a.icon_cookies {	background-image: url("./icons/shield.svg");	}
a.icon_software {	background-image: url("./icons/cog.svg");	}
a.icon_firefox {	background-image: url("./icons/Firefox_Logo.svg");	}

a.icon_date {	background-image: url("./icons/date.svg");	}

a.icon_defrag {	background-image: url("./icons/database_gear.svg");	}

a.icon_list {	background-image: url("./icons/text_list_bullets.svg");	}
a.icon_form {	background-image: url("./icons/application_form.svg");	}

a.icon_backup {	background-image: url("./icons/database_save.svg");	}
