@CHARSET "UTF-8";

div.markupeditor ul.toolbar {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 5px 0;
	padding: 5px 0 0 0;
	list-style: none;
	height: 20px;
}

div.markupeditor > ul.toolbar > li {
	float: left;
	margin-left: 5px;
}
div.markupeditor > ul.toolbar > li:first-child {
	margin-left: 0;
}

div.markupeditor > ul.toolbar > li a.icon {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 2px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0);
}
div.markupeditor > ul.toolbar > li a.icon:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

div.markupeditor > ul.toolbar > li a.icon.bold {
	background-image: url("./icons/text_bold.svg");
}
div.markupeditor > ul.toolbar > li a.icon.italic {
	background-image: url("./icons/text_italic.svg");
}
div.markupeditor > ul.toolbar > li a.icon.h4 {
	background-image: url("./icons/text_heading_4.svg");
}
div.markupeditor > ul.toolbar > li a.icon.quote {
	background-image: url("./icons/user_comment.svg");
}
div.markupeditor > ul.toolbar > li a.icon.bullet {
	background-image: url("./icons/text_list_bullets.svg");
}
div.markupeditor > ul.toolbar > li a.icon.numbered {
	background-image: url("./icons/text_list_numbers.svg");
}
div.markupeditor > ul.toolbar > li a.icon.table {
	background-image: url("./icons/table.svg");
}
div.markupeditor > ul.toolbar > li a.icon.url {
	background-image: url("./icons/world_go.svg");
}
div.markupeditor > ul.toolbar > li a.icon.email {
	background-image: url("./icons/email_go.svg");
}
div.markupeditor > ul.toolbar > li a.icon.preview {
	background-image: url("./icons/monitor.svg");
}

div.markupeditor > ul.toolbar > li div.spacer {
	width: 1px;
	height: 20px;
	background: rgba(0, 0, 0, 0.1);
}

div.markupeditor > textarea.editor {
	display: block;
	clear: both;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: white;
	width: 850px;
	height: 200px;
}

.ui-widget-content div.preview a {
	color: blue;
}

@media only screen and (max-width: 959px) {
	div.markupeditor > textarea.editor {
		width: 650px;
	}
}

@media only screen and (max-width: 767px) {
	div.markupeditor > textarea.editor {
		width: 375px;
	}
}

@media only screen and (max-width: 479px) {
	div.markupeditor > textarea.editor {
		width: 255px;
	}
}

.ui-widget-content div.preview blockquote {
	padding-left: 1em;
	border-left: 5px solid rgba(0, 0, 0, 0.1);
	margin-left: 1em;
}

.ui-widget-content div.preview blockquote cite {
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-top: 1px dotted rgba(0, 0, 0, 0.1);
	display: block;
	font-size: 0.85em;
}
