@CHARSET "UTF-8";

/**
 * Adamantine CSS: moving table rows
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

img.movementicon {
	width: 16px;
	height: 16px;
	/* this helps with the autoscroll calculation in case the image doesn't load in time */
}

table.moveable > tbody > tr:first-child > td.moveable a.top,
table.moveable > tbody > tr:first-child > td.moveable a.up {
	display: none;
}

/* CSS3 versions */
table.moveable tbody tr:last-child td.moveable a.down,
table.moveable tbody tr:last-child td.moveable a.bottom {
	display: none;
}

/* CSS2.1 versions */
table.moveable tbody tr.lastchild td.moveable a.down,
table.moveable tbody tr.lastchild td.moveable a.bottom {
	display: none;
}
