@CHARSET "UTF-8";

/**
 * Adamantine CSS: core screen definitions
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin: 0; padding: 0;
}

h1 {
	background: #dddddd;
	margin: 0;
	padding: 10px;
	height: 65px;
	font-weight: normal;
	text-align: center;
}

h2 {
	margin: -35px 0 0 0; padding: 0 10px 0 10px;
	height: 35px;
	font-weight: normal;
	text-align: center;
}

hr {
	margin: 1em 0 1em 0;
	padding: 0;
	border: 0px;
	background: rgba(0, 0, 0, .33);
	height: 5px;
}

h4.error, h4.info, h4.warning, h4.none {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 10px 1em 10px 35px;
	font-weight: normal;
}

h4.info {
	color: rgb(0, 64, 128);
	background-color: rgba(0, 128, 255, 0.1);
	background-image: url("./icons/information.svg");
}

h4.warning {
	color: rgb(128, 100, 0);
	background-color: rgba(255, 224, 0, 0.1);
	background-image: url("./icons/error.svg");
}

h4.error {
	color: rgb(128, 0, 0);
	background-color: rgba(255, 0, 0, 0.1);
	background-image: url("./icons/exclamation.svg");
}

h4.none {
	background-color: rgba(0, 0, 0, 0.04);
	background-image: url("./icons/bullet_white.svg");
}

footer {
	background: rgba(0, 0, 0, 0.04);
	padding: 10px 1em 10px 1em;
	font-size: 0.85em;
}

footer p {
	padding: 0;
}

footer ul {
	float: right;
}

/* to give the smaller font size icons room for the 16 pixel icon */
footer ul.linkbar li a {
	padding-top: 1px;
	padding-bottom: 1px;
}

a,
.ui-widget-content ul.linkbar a {
	color: #1e3cdc;
	text-decoration: none;
}
a:hover,
.ui-widget-content ul.linkbar a:hover {
	color: #1e3cdc;
	text-decoration: underline;
}

a.disabled,
.ui-widget-content ul.linkbar a.disabled {
	opacity: 0.5 !important;
	cursor: default !important;
	text-decoration: none !important;
}

ul#menubar, ul#menubar ul {
	list-style: none;
}

ul#menubar, ul#menubar > * {	/* needed to place the menu on top of jQueryUI tabs */
	z-index: 9999 !important;
}

ul#menubar ul {
	margin: 0;
	padding: 0;
	background: rgb(248, 248, 248);
}

nav {
	background: #666666;
	min-height: 20px;
}

div#content {
	padding: 1em 0 1em 0;
}

ul#menubar {
	background: #666666;
	color: black;
	margin: 0;
	padding: 2px 0 2px 0;
	min-height: 20px;
}

ul#menubar li {
	margin: 0; padding: 0;
	cursor: default;
}

ul#menubar li ul a {
	display: block;
	padding: 5px 1em 5px 1em;
	white-space: nowrap;
}

ul#menubar ul li:hover {
	background: rgba(0, 0, 0, 0.04);
	color: white;
}

ul#menubar > li {
	padding: 0 1em;
	color: white;
	float: left;
	position: relative;
	top: 0; left: 0;
}

ul#menubar > li > ul {
	position: absolute;
	top: 22px; left: 0;
	box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.5);
}

div#userbar {
	float: right;
	background: black;
	color: white;
	padding: 2px 1em 2px 1em;
	height: 20px;
}

div#burger {
	display: none;
}

@media only screen and (max-width: 799px) {
	nav {
		background: none !important;
	}
	
	h2 {
		margin-bottom: 10px;
	}
	
	ul#menubar {
		display: none;
		min-height: none;
	}

	ul#menubar > li {
		border-top: 1px dotted rgba(255, 255, 255, 0.2);
		float: none;
		padding: 5px 10px;
	}
	ul#menubar > li:first-child {
		border-top: none;
	}
	
	ul#menubar li ul a {
		padding: 5px 10px;
	}

	ul#menubar > li > ul {
		position: relative;
		top: 0; left: 0;
	}

	div#userbar {
		float: none;
		background: none;
		color: rgba(0, 0, 0, 0.6);
		padding: 5px 10px;
		margin: 0 0 1em 0;
	}
	
	div#burger {
		display: block;
		float: right;
		margin: 2px 10px;
		padding: 2px;
		border: 1px solid rgba(255, 255, 255, 0.9);
		background-color: rgba(255, 255, 255, 0.9);
		width: 16px; height: 16px;
		background-image: url(./icons/text_list_bullets.svg);
		background-repeat: no-repeat;
		background-position: 2px 2px;
		cursor: pointer;
	}
	
	footer ul {
		float: none;
	}
}

h3.error {
	color: red;
}

ul.linkbar {
	list-style: none;
	margin: 1em 0 1em 0; padding: 0;
}

ul.linkbar > li {
	display: inline;
	margin-right: 2em;
}

span.timestamp {
	padding-left: 5px;
}

@media only screen and (max-width: 799px) {
	ul.linkbar > li {
		display: block;
		padding-left: 0;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	
	span.timestamp {
		padding-left: 0;
		display: block;
	}
	
}

a.command {
	padding-left: 20px;
	display: block;
	margin: 1em 0 1em 0;
	background-repeat: no-repeat;
	background-position: center left;
}

span.command, a.command {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}

a.command.inline {
	margin: 0;
	display: inline;
}

ul.linkbar a.command {
	display: inline;
	margin: 0;
	white-space: nowrap;	
}

span.checkbox_caption {
	padding-left: 5px;
}

span.pleasewait {
	color: rgba(0, 0, 0.33);
	font-style: italic;
}

blockquote {
	padding-left: 1em;
	border-left: 5px solid rgba(0, 0, 0, 0.1);
	margin-left: 1em;
}

blockquote cite {
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-top: 1px dotted rgba(0, 0, 0, 0.1);
	display: block;
	font-size: 0.85em;
}
