@CHARSET "UTF-8";

div.structure {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 2px;
	float: left;
	cursor: pointer;
}
div.expand {
	background-image: url("./icons/bullet_toggle_plus.svg");
	background-size: 16px 16px;
}
div.collapse {
	background-image: url("./icons/bullet_toggle_minus.svg");
	background-size: 16px 16px;
}

span.id {
	display: none;
}

img.addnode {
	cursor: pointer;
	display: block;
}

ul.treeable {
	width: 500px;
	border-radius: 5px;
	margin: 0; padding: 5px 1em 5px 1em !important;
	background-color: rgba(0, 0, 0, 0.04);
}

ul.treeable li {
	margin: 0;
	padding: 2px 0 2px 0;
	border-collapse: collapse;
}

ul.treeable li div.name {
	height: 20px;
}

ul.treeable img.movement {
	padding: 2px;
}

ul.treeable, ul.treeable ul {
	list-style: none;
	padding: 0; margin: 0;
}
ul.treeable ul {
	padding-left: 10px;
	margin-left: 7px;
	margin-bottom: 5px;
}

ul.treeable img.movement, ul.treeable img.actions {
	float: right;
	display: none;
	opacity: 1;
	cursor: pointer;
	margin-left: 5px;
}

img.gap {
	margin-left: 15px !important;
}

ul.treeable > li.root > img.movement, ul.treeable > li.root > img.actions {
	display: none !important;
}

ul.treeable ul li:hover > div.name {
	background: rgba(0, 0, 0, 0.066);
}
ul.treeable ul li:hover > img.movement, ul.treeable ul li:hover > img.actions {
	display: block;
}

ul.treeable li > ul > li:last-child {
	display: none;
}
ul.treeable li:hover > ul > li:last-child {
	display: block;
}

ul.treeable li:first-child > img.movement.up,
ul.treeable li.endnode > img.movement.down,
ul.treeable > li > ul > li > img.movement.left,
ul.treeable li:first-child > img.movement.right {
	cursor: default !important;
	opacity: 0.1;
}
