@CHARSET "UTF-8";

/**
 * Adamantine CSS: universal form appearance
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

form.uniform, div.unilayout {
	display: table;
	min-width: 160px;
	
	background: #f9f9f9;
	margin: 1em 0 1em 0; padding: 1em;
}

@media only screen and (max-width: 767px) {
	form.uniform.mobile {
		padding: 0;
		margin: 0;
		background: none;
		width: 100%;
	}
}

div.unilayout.tabbed {
	padding: 0; margin: 0;
	background: none;
}

form.uniform > div.jqueryuitabs {
	background: rgba(255, 255, 255, 0.5);
}

form.uniform div.form_row, div.unilayout > div {
	padding: 3px 1em 3px 1em;
	
	/* CSS trick to force the height to contain the floated label if it is multi-line and the value is not */
	height: auto;
	overflow: hidden;
	clear: both;
}

form.uniform.simple div.form_row,
div.unilayout.simple > div, div.unilayout.tabbed,
div.unilayout.tabbed div.form_row,
form.uniform div.unilayout.tabbed div.form_row,
div.unilayout.tabbed > div {
	padding-left: 0; padding-right: 0;
}

@media only screen and (max-width: 767px) {
	form.uniform.mobile div.form_row {
		width: 100%;
		padding: 5px 0 5px 0;
	}

	div.unilayout.tabbed.mobile {
		width: 100%;
	}

	div.unilayout.tabbed.mobile > div {
		width: 100%;
		padding: 5px 0 5px 0;
	}
}

form.uniform div.odd_row,
div.unilayout > div.odd_row {
	background: rgba(0, 0, 0, 0.03);
}

form.uniform div.form_row > label,
div.unilayout > div > label {
	display: block;
	float: left;
	width: 10em;
}

@media only screen and (max-width: 767px) {
	form.uniform.mobile div.form_row > label,
	div.unilayout > div > label {
		float: none;
		width: auto;
	}
}

form.uniform div.form_row > label {
	padding-top: 3px;
}

form.uniform div.form_row > label:after,
div.unilayout > div > label:after {
	content: ":";
}

form.uniform > h4,
div.unilayout > h4 {
	color: rgba(0, 0, 0, 0.66);
	margin: 0.5em 0 0.5em 0; padding: 0;
}

form.uniform > h4.info,
form.uniform > h4.warning,
form.uniform > h4.error,
div.unilayout > h4.info,
div.unilayout > h4.warning,
div.unilayout > h4.error {
	padding: 10px 1em 10px 35px;
}

form.uniform > h4.info,
div.unilayout > h4.info {
	color: rgb(0, 64, 128);
}

form.uniform > h4.warning,
div.unilayout > h4.warning {
	color: rgb(128, 100, 0);
}

form.uniform > h4.error,
div.unilayout > h4.error {
	color: rgb(128, 0, 0);
}

form.uniform input.numeric {
	width: 3em;
}

form.uniform div.form_buttons {
	clear: both;
	margin-top: 1.5em;
}

form.uniform div.form_buttons {
	margin-top: 1em;
}
	
form.uniform div.form_buttons > input {
	margin-left: 1em;
}

form.uniform div.form_buttons > input[type=submit]:first-of-type {
	margin-left: 0;
}

/* autosize/model code */

form.uniform div.form_row > label {
	font-weight: bold;
}

form.uniform.autosize div.form_row > label {
	white-space: nowrap;
	width: auto;
}

form.uniform div.form_row.optional > label {
	font-weight: normal;
}

/* 2do, this might not actually do anything? */
form.uniform.autosize span.optional {
	font-weight: normal !important;
}

form.uniform input.hexcolor,
div.unilayout input.hexcolor {
	width: 6em;
}

form.uniform input.idname,
div.unilayout input.idname {
	width: 16em;
}

form.uniform input.idchar,
form.uniform input.digit,
form.uniform input.letter,
form.uniform input.letterdigit,
div.unilayout input.idchar,
div.unilayout input.digit,
div.unilayout input.letter,
div.unilayout input.letterdigit {
	width: 2em;
}

form.uniform input.string,
form.uniform input.url,
div.unilayout input.string,
div.unilayout input.url {
	width: 25em;
}

@media only screen and (max-width: 767px) {
	form.uniform.mobile input.string,
	form.uniform.mobile input.url,
	div.unilayout.mobile input.string,
	div.unilayout.mobile input.url {
		width: 20em;
	}

	form.mobile div.unilayout.mobile input.string,
	form.mobile div.unilayout.mobile input.url {
		width: 17em;
	}
}

form.uniform input.date,
div.unilayout input.date {
	width: 7em;
}

form.uniform input.datetime,
div.unilayout input.datetime {
	width: 9em;
}

form.uniform input.int,
form.uniform input.float,
div.unilayout input.int,
div.unilayout input.float {
	width: 6em;
}
form.uniform input.smallint,
form.uniform input.price,
div.unilayout input.smallint,
div.unilayout input.price {
	width: 5em;
}
form.uniform input.tinyint,
div.unilayout input.tinyint {
	width: 4em;
}

form.uniform span.price,
div.unilayout span.price {
	padding-right: 5px;
}

form.uniform textarea.text,
div.unilayout textarea.text {
	width: 300px;
	height: 100px;
}

@media only screen and (max-width: 767px) {
	form.uniform.mobile textarea.text,
	div.unilayout.mobile textarea.text {
		width: 20em;
		height: 100px;
	}

	form.mobile div.unilayout.mobile textarea.text {
		width: 17em;
	}
}

form.uniform textarea.huge,
div.unilayout textarea.huge {
	width: 650px;
	height: 250px;
}

form.uniform span.suffix,
div.unilayout span.suffix {
	margin-left: 10px;
}

form input[type=submit],
form input[type=button],
form input[type=reset],
form button {
	background-color: rgb(224,224,224);
	border: 0;
	border-radius: 0;
	padding: 3px 10px;
	font-family: 'Open Sans';
	font-size: 1em;
	text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
	transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
}

form input[type=submit]:hover,
form input[type=button]:hover,
form input[type=reset]:hover,
form button:hover {
	background-color: rgb(214, 214, 214);
}
		
form input[type=submit]:active,
form input[type=button]:active,
form input[type=reset]:active,
form button:active {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgb(204, 204, 204);
	background-image: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.7)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7));
}

form input[type=text],
form input[type=password],
form select,
form textarea {
	font-family: 'Open Sans';
	font-size: 1em;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0;
}

form input[type=text],
form input[type=password],
form textarea {
	padding: 2px 5px;
}

form select {
	padding: 0 0 0 2px;
}

form input[type=text]:disabled,
form input[type=password]:disabled,
form select:disabled,
form textarea:disabled {
	background: rgb(240, 240, 240);
}
