@CHARSET "UTF-8";

/**
 * Adamantine CSS: universal list appearance
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

ul.unilist {
	display: table;
	min-width: 160px;
	
	background: #f9f9f9;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

ul.unilist li {
	margin: 0;
	padding: 5px 1em 5px 1em;
}

ul.unilist li.odd_row {
	background: rgba(0, 0, 0, 0.03);
}

ul.unilist a.command {
	margin: 0;
}

ul.unilist li.none {
	font-style: italic;
}

ul.unilist.ui-dialog-content {
	display: block;	/* bug-fix for Safari/Firefox/Edge whereby display:table doesn't get clipped by the parent overflow scroll */
}
