@CHARSET "UTF-8";

/**
 * Adamantine CSS: universal table appearance
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

table.unitable {
	background: #f9f9f9;
	margin: 1em 0 1em 0;
}

table.unitable tbody tr.odd_row td {
	background: rgba(0, 0, 0, 0.03);
}

table.unitable tbody td {
	vertical-align: top;
}

table.unitable tbody td.center, table.unitable thead th.center {
	text-align: center;
}

table.unitable thead th {
	background: rgba(0, 0, 0, 0.12);
	vertical-align: bottom;
}

table.unitable thead th, table.unitable tbody td, table.unitable tfoot td {
	padding: 5px 1em 5px 1em;
	text-align: left;
}

table.unitable tfoot.none td {
	color: rgba(0, 0, 0, 0.2);
	font-style: italic;
}

table.unitable a.command {
	margin: 0;
}
