@CHARSET "UTF-8";

/**
 * Adamantine CSS: form input validation
 * 
 * @copyright 2013 Pete Morris
 * @license MIT
 * @license LGPL
 * @author Pete Morris
 */

input.validate_error, textarea.validate_error, select.validate_error {
	outline: 2px solid red;
}

input[type=radio].validate_error {
	outline: 2px solid red;
}

label.validate_error {
	color: red;
	font-weight: bold;
}

ul.ui-tabs-nav span.validate_error {
	color: red !important;
}
